@media print {
	body * {
		visibility: hidden;
	}
	
	svg, svg * {
		visibility: visible;
	}
	
	svg {
		position: absolute;
		left: 0;
		top: 0;
	}
}

body
.notelist {
	margin-top: 0px;
}

.notelist li {
	display: inline;
	list-style-type: none;
}

.notediv {
	position: relative;
}

.error {
	color: red;
}

.print {
	width: 770px;
}

.print input {
	float: right;
}


/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 155px; /* '.push' must be the same height as 'footer' */
}

